.jumbotron {
    background-image: linear-gradient(to bottom right, lightskyblue);
    color: palevioletred;
    text-shadow: white 1px 1px;
    flex-direction: auto;
    display: inline;
}
/* Body styling*/

body {
    background-color: oldlace;
}

/*card styling*/

.card-custom {
    background-color: lightgoldenrodyellow;
    color: #000000;
    text-shadow: whitesmoke 1px 1px;
    max-width: 500px;
    border-radius: 15px;
    transition: all .2s ease-in-out; /*the transition of the growing*/
    border-style: double;
    
    
}

.card-custom:hover{
    cursor: pointer;
    transition: 1s;
    background-color:pink;
    color: purple;
    transform: scale(1.1); /*growing during hovering*/
    
}


/*Media query*/
/* screen 600px*/
@media only screen and (max-width: 600px){
    body{
        background-color:lightsalmon ;
    }
}

@media only screen and (max-width: 600px){
    .jumbotron{
        background-color: lightskyblue;
        color: black;
    }

    @media only screen and (max-width: 600px){
        .card-custom{
            background-color: bisque;
        }
    }

}